@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Comfortaa:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*
  Förslag på färger
   #61b390; 
   #3c4245;
*/

:root {
    --clr-text-white: #e9e8e8;
    --clr-gray: #f0f0f0;
    --clr-text-black: #111111;
    --clr-primary: #3c4245;
    --clr-secondary: #61b390;
    --clr-gradiant-primary: linear-gradient(90deg, #004aad, #cb6ce6);
    --clr-body-dark: #111111;
    --clr-body-light: #e9e8e8;
    --clr-button-primary: #3c4245;
    --clr-button-secondary: #61b390;
    --clr-button-gray: #f0f0f0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-body-dark);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    color: var(--clr-text-white);
    overflow-x: hidden;
}

h1 {
    font-size: 8rem;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #2a2f32 inset !important;
    -webkit-text-fill-color: #e0e0e0 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-inline: auto;
    padding-inline: 1rem;
    background-color: var(--clr-body-dark);

    @media (width > 576px) {
        max-width: 540px;
    }

    @media (width > 768px) {
        max-width: 720px;
    }

    @media (width > 992px) {
        max-width: 960px;
    }

    @media (width > 1200px) {
        max-width: 1140px;
    }

    @media (width > 1400px) {
        max-width: 1320px;
    }

    @media (width > 1600px) {
        max-width: 1440px;
    }
}

.button {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.15);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 16px rgba(255, 255, 255, 0.25);
        transition: 0.2s;
    }
}

.button-primary {
    background: var(--clr-button-primary);
    color: var(--clr-text-white);
    border: 1px solid transparent;
}

.button-secondary {
    background: var(--clr-button-secondary);
    border: 1px solid transparent;
}


.button-gray {
    background-color: var(--clr-button-gray);
    border: 1px solid transparent;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* fyller hela höjden */
}

.app-main {
    flex: 1;
    /* tar upp allt utrymme mellan Navbar och Footer */
    overflow: hidden;
    /* tar bort oönskad scroll här */
}

.clr-text-white {
    color: var(--clr-text-white);
}

.clr-title {}

/* forms */
.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 6rem;
    padding: 40px;
    background-color: #3c4245;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: 'Inter', sans-serif;

    input {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 15px;
        border: 1px solid #3c4245;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #2a2f32;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    input::placeholder {
        color: #e9e8e8;
    }

    input:focus {
        outline: none;
        border-color: #3c4245;
        box-shadow: 0 0 0 2px rgba(216, 209, 238, 0.3);
    }

    button {
        margin-top: 1.5rem;
    }

    a {
        margin-top: 1.5rem;
        font-size: .8rem;
    }
}

.form-title {
    margin-bottom: 1rem;
}