/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #2a2f32 inset !important;
    -webkit-text-fill-color: #e0e0e0 !important;
}

.auth-frontpage {
    display: flex;
    flex-direction: column;
    text-align: center;
}




.forgot-container {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}