@import url(app.css);

.create-wrapper {
 display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background: var(--clr-body-dark);
  height: 100%;
}

.create-card {
  background: #3c4245;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  text-align: center;  
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  text-align: center; 
}

textarea {
  min-height: 80px;
  resize: none;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #94a3aa;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea::placeholder {
   color: #e9e8e8;
 font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input::placeholder {
   color: #e9e8e8;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 15px;
        border: 1px solid #333;
        border-radius: 8px;
        font-size: 1rem;
        background-color: #94a3aa;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

    }

 
