.List-workout {
  list-style: none;
  padding: 0;
}

.List-item-workout {
    border: 1px solid var(--clr-button-primary);
    background-color: var(--clr-button-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    P:nth-last-child(2) {
        margin-left: auto;
    }
    H6 {
        margin-left: 3rem;
    }
}

.Headline-workout {
    margin: 0 auto;
    color: var(--clr-secondary);
}

.workoutlist {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
}

.location-workout {
    width: 12rem;
}

.instructor-workout {
    width: 12rem;
}
.update-button{
    background: var(--clr-secondary);
    color: var(--clr-text-black);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}
.create-button {
    background: var(--clr-secondary);
    color: var(--clr-text-black);
    border: none;
    width: 10rem;
    margin: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}
.create-button:hover {
    background: var(--clr-secondary);
}

.spots-left {
  font-size: 0.9rem;
  margin: 0.25rem 0;
  font-weight: 500;
  color: #e9e8e8;
}

.spots-left .number {
  color: #dc3545;
  font-weight: 600;
}
